
*{font-family:Arial, Helvetica, sans-serif;
text-decoration: none;
list-style: none; 
}

:root {
    --color-back: #181818;
    --color-font: white;
}

body {
    background-image: url(https://source.unsplash.com/random/?minimalism);
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    padding: 8px 16px 8px 16px;
    position: fixed;
    top:0;
    left:0;
    background-color: var(--color-back);
    border-radius: 5px;
    margin:16px
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.black-field {
    background-color: var(--color-back);
    color: var(--color-font);
    padding: 2%;
    border-radius: 5px;
    width: 300px;
    min-height: 250px;
 }

table {
    display: table;
    width: 100%;
    border-radius: 5px;
    padding: 3%;
}

td {
    vertical-align: top;
    border-bottom: 1px solid var(--color-font);
    padding: 5% 0% 5% 0%;
}


input[type="text"]{
    background: var(--color-back);
    color: var(--color-font);
    padding: 2%;
}

.exampleTask, .newTask{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    padding: 5% 0% 5% 0%;
    font-size: 0.9em;
}

.example {
    color: var(--color-font);
    font-size: 0.8em;
    padding-top: 2em ;
}

.example i {
    font-size: 1.6em;
    padding-left: 1%;
}

.task{
    padding: 4% 0% 4% 0%;
    color: var(--color-font);
    border-bottom: 1px solid var(--color-font);
    font-size: 0.9em;
}

.task i{
    cursor: pointer;
}

.taskchecked{
    padding: 4% 0% 4% 0%;
    color: var(--color-font);
    /* border-bottom: 1px solid var(--color-font); */
    font-size: 0.9em;
    opacity: 0.3;
}

.description{
 background-color: var(--color-back);
 color: var(--color-font);
 border: none;
}

/* Layout, wenn das inut-feld nicht bearbeitet werden soll */
.description :focus, .description :active {
    border: none;
}

/* Layout, wenn das inut-feld bearbeitet wird und aktiviert wird */
.description :focus, .description :active {
    border: 1px solid darkgrey;
}

.fake {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 150px;
    min-height: 125px;
    padding: 3%;
    background-color: rgba(255,255,255, 0.2);
    margin: 3%;
    color: var(--color-back);
    border: 1px dashed black;
    border-radius: 5px;
}

@media only screen and (max-width: 567px) {
    
    .table-container {
            flex-direction: column;
            height: 100vh;
    }

    .black-field {
        padding: 24px;
        width: 300px;
    }

    .fake {
        display: none;
    }

}